* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overscroll-behavior: none; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lavenderblush;
    font-family: Impact, sans-serif;
    color: white;
}

header, section, footer {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: sticky;
    top: 0;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

section {
    min-height: 75vh;
}

section:first-child,
header  {
    background-color: rgb(157, 117, 186);
}

section:nth-child(2)  {
    background-color: rgb(210, 170, 247);
}
 
section:last-child {
    background-color: #a084c6;
}

footer {
    background-color: black;
}

button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: none;
    background-color: orange;
    font-family: inherit;
    font-size: inherit;
}

#backToTop {
    position: fixed;
    bottom: 0.5rem;
    right: 2rem;
}

.bg {
    background-color: white;
    font-size: 1.5rem;
    
}