* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavenderblush;
    font-family: Impact, sans-serif;
    color: white;
}

header, section, footer {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

section {
    min-height: 75vh;
}

section:first-child,
header  {
    background-color: rgb(157, 117, 186);
}

section:nth-child(2)  {
    background-color: rgb(210, 170, 247);
}
 
section:last-child {
    background-color: #a084c6;
}

footer {
    background-color: black;
}

