body {
    background-image: url('poke.jpeg');
    color: yellow;
    text-align: center;
    padding: 250px;
    font-family: 'Lato', sans-serif;
  }
  
  #pokeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  #pokeContainer div {
    background-color: white;
    border-radius: 5px;
    color: #333;
    padding: 1rem;
  }
