* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e09132;
    color: #ffefcd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

body {
    background-color: #424530;
    
}

img {
   max-width: fit-content;
}

