* {
    margin: none;
    padding: none;
}

header {
    background-color: #e09132;
    color: #ffefcd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #424530;
}